#DAY1 h3 {
    background-color: #1b95e0;
    color: #fff;
    border-radius: 6px;
    height: 30px;
    width: 100px;
    font-weight: 700;
    font-size: 25px;
    padding: 8px 20px 8px 20px;
    text-align: center;    
}

#DAY1{
    background-color: white;    
}